<h1 class="mt-4">Clients</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ client.id ? 'Edit' : 'Register '}}</li>
</ol>
<div class="container">
  <form #clientForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="success == true" class="alert alert-success" role="alert">
          Client {{client.name}} has been saved successfully
        </div>
        <div *ngFor="let error of errors" class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="client.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" [(ngModel)]="client.id" name="id" class="form-control" disabled="true" />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Register Date:</label>
          <input type="text" [(ngModel)]="client.registerDate" name="registerDate" class="form-control" disabled="true" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name: *</label>
          <input type="text" [(ngModel)]="client.name" name="name" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Number: *</label>
          <input type="text" [(ngModel)]="client.number" name="number" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!client.id">
          <i class="fa fa-save"></i> Save
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="client.id">
          <i class="fa fa-sync-alt"></i> Edit
        </button>

        <button type="button" class="btn btn-danger ml-2" (click)="returnToList()">
          <i class="fa fa-arrow-alt-circle-left"></i> Return
        </button>
      </div>
    </div>
  </form>
</div>
