<h1 class="mt-4">Services</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Search</li>
</ol>
<div class="container mb-4">
  <form #searchForm="ngForm" (submit)="searchService()">
    <div class="row">
      <div class="col-md-6">
        <label for="inputName">Client Name:</label>
        <input
          type="text"
          [(ngModel)]="name"
          name="name"
          class="form-control"
          id="inputName"
        />
      </div>
      <div class="col-md-6">
        <label for="inputName">Month:</label>
       <select [(ngModel)]="month" class="form-control" name="month">
         <option value="">Select</option>
         <option *ngFor="let month of months" [value]="month">
           {{ month }}
         </option>
       </select>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary mr-2">
          <i class="fa fa-search"></i> Search
        </button>

        <button type="button" class="btn btn-warning" routerLink="/provided-services/form">
          <i class="fa fa-plus"></i> New
        </button>
      </div>
    </div>
  </form>

  <br />

  <div *ngIf="message" class="alert alert-warning" role="alert">
      {{ message }}
    </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Client</th>
            <th>Description</th>
            <th>Value</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of list">
            <td>{{ s.client.name }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s.value }}</td>
            <td>{{ s.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
