<h1 class="mt-4">Services</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">New</li>
</ol>
<div class="container">
  <form #form="ngForm" (submit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="success == true" class="alert alert-success" role="alert">
          Service has been saved successfully
        </div>
        <div *ngFor="let error of errors" class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Client: </label>
          <select
            class="form-control"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="providedService.idClient"
          >
            <option value="">Select</option>
            <option *ngFor="let client of clients" [ngValue]="client.id">
              {{ client.name }}
            </option>
          </select>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Description:</label>
              <input class="form-control" [(ngModel)]="providedService.description" type="text" name="description" id="inputDescription" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Date:</label>
              <input class="form-control" [(ngModel)]="providedService.date" type="date" name="date" id="inputDate" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Price:</label>
              <input class="form-control" [(ngModel)]="providedService.price" type="text" name="price" id="inputPrice" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-3">
          <button class="btn btn-success" type="submit">
          <i class="fa fa-save"></i>
          Save</button>

          <button type="button" routerLink="/provided-services/list" class="btn btn-danger ml-2">
          <i class="fa fa-arrow-alt-circle-left"></i> Return
          </button>
      </div>
    </div>
  </form>
</div>
