<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <footer class="py-4 bg-light mt-auto footer">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
              <div class="text muted">Copyright &copy; Client Management 2021</div>
            </div>
          </div>
      </footer>
    </main>
  </div>
</div>
