<h1 class="mt-4">Clients</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">List</li>
</ol>
<div class="container mb-4">
   <div class="row">
      <div class="col-md-12">
        <div *ngIf="messageSuccess" class="alert alert-success" role="alert">
          {{ messageSuccess }}
        </div>
        <div *ngIf="messageError" class="alert alert-danger" role="alert">
          {{ messageError }}
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-warning" (click)="newRegister()">
        <i class="fa fa-plus"></i> New
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Number</th>
            <th>Register Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.number }}</td>
            <td>{{ client.registerDate }}</td>
            <td>
              <button
                class="btn btn-primary"
                routerLink="/clients/form/{{ client.id }}"
              >
                <i class="fa fa-edit"></i>
              </button>

              <button class="btn btn-danger ml-2" (click)="prepareDelete(client)" data-toggle="modal" data-target="#modalDelete">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="modalDelete" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Confirmation</h4>
          </div>

          <div class="modal-body" *ngIf="clientSelected">
            Are you sure that you want to delete client {{ clientSelected.name }} ?
          </div>

          <div class="modal-footer">
            <button class="btn btn-success" (click)="deleteClient()" data-dismiss="modal">Confirm</button>
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
