  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">System</div>
          <a class="nav-link" routerLink="/home">
            <div class="sb-nav-link-icon">
              <i class="fas fa-home"></i>
            </div>
            Home
          </a>
          <div class="sb-sidenav-menu-heading">Registers</div>
          <a
            class="nav-link collapsed"
            routerLink="/clients"
            data-toggle="collapse"
            data-target="#collapseLayouts"
            aria-expanded="false"
            aria-controls="collapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Clients
          </a>
          <a
            class="nav-link collapsed"
            routerLink="/provided-services"
            data-toggle="collapse"
            data-target="#collapseLayouts"
            aria-expanded="false"
            aria-controls="collapseLayouts"
          >
            <div class="sb-nav-link-icon">
              <i class="fas fa-address-card"></i>
            </div>
            Services
          </a>
          <div class="sb-sidenav-menu-heading">Source</div>
          <a
            class="nav-link"
            href="https://gitlab.com/alpertoy/client-management-be"
            target="_blank"
          >
            <div class="sb-nav-link-icon">
              <i class="fab fa-gitlab"></i>
            </div>
            Backend
          </a>
          <a
            class="nav-link"
            href="https://gitlab.com/alpertoy/client-management-fe"
            target="_blank"
          >
            <div class="sb-nav-link-icon">
              <i class="fab fa-gitlab"></i>
            </div>
            Frontend
          </a>

          <div class="sb-sidenav-menu-heading">Developer</div>
          <a
            class="nav-link"
            href="https://www.linkedin.com/in/alpertoy/"
            target="_blank"
          >
            <div class="sb-nav-link-icon">
              <i class="fab fa-linkedin-in"></i>
            </div>
            LinkedIn
          </a>

          <div class="sb-sidenav-menu-heading">Logout</div>
          <a
            class="nav-link collapsed"
            data-toggle="collapse"
            (click)="logout()"
            href="#"
            data-target="#collapseLayouts"
            aria-expanded="false"
            aria-controls="collapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
            Logout
          </a>
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small">Logged User:</div>
        {{ loggedUser }}
      </div>
    </nav>
  </div>
